.clients {
  background-color: rgba(255, 193, 85, 1);
  padding: 110px 0px 90px;
}

.clients-heading {
  text-align: center;
  margin-bottom: 5px;
  color: #fff;
}

.clients-description {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.clients-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-review {
  display: flex;
  flex: 0 1 48%;
  padding: 50px 30px;
  background-color: #fff;
  margin-bottom: 20px;
  align-items: flex-start;
}

.clients-img {
  margin-right: 30px;
  max-width: 100px;
  border-radius: 50%;
}

.review {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 30px;
}

.clients-name {
  text-transform: uppercase;
  color: rgba(255, 193, 85, 1);
}

.clients-prof {
  text-transform: uppercase;
  color: rgb(156, 156, 156);
}