.newsletter-block {
  padding: 110px 0px 30px;
  text-align: center;
}

.newsletter-heading {
  margin-bottom: 5px;
}

.newsletter-description {
  display: inline-block;
  margin-bottom: 30px;
}

.form-input {
  border: 1px solid #A9A9A9;
  padding: 19px 50px 19px 10px;
  width: 310px;
}

.newsletter-button {
  padding: 20px 55px;
  color: #fff;
  background-color: rgba(255, 187, 66, 1);
  text-transform: uppercase;
}