.pricing {
  background-color: rgba(231, 237, 243, 1);
  padding: 110px 0px;
}

.pricing-heading {
  margin-bottom: 5px;
  text-align: center;
}

.pricing-description {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.pricing-tarif {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.tarif-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 33.333%;
  color: #818B95;
  padding: 60px 31px 50px;
  background-color: #fff;
  border: 1px solid #818B95;
  border-radius: 1%;
}

.tarif-wrap__basic {
  border-right: 0px;
}

.tarif-header {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.tarif-price {
  font-size: 60px;
  font-weight: 600;
  color: #FFBB42;
}

.tarif-sup {
  font-size: 35px;
  font-weight: 400;
}

.tarif-period {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 31px;
}

.tarif-line {
  border-top: 2px solid #818B95;
  text-transform: uppercase;
  padding: 15px 0px;
  width: 100%;
  text-align: center;
}

.tarif-cloud {
  margin-bottom: 15px;
}

.pricing-link {
  text-transform: uppercase;
  color: #fff;
  background-color: #FFBB42;
  padding: 18px 22px;
}

.tarif-wrap__premium {
  color: #fff;
  background-color: rgba(112, 157, 202, 1);
  padding: 90px 31px 70px;
}

.tarif-price__premium {
  color: #fff;
}

.tarif-account__premium {
  border-top: 2px solid #fff;
}